In [53]:
# text file with car Num as TS XX A-Z XXXX , # of seats , # of bags
import random
import string
file=open("DataBase.txt","w+")
file.write('CarNum,numofseats,numofbags,type,When\n')
typ=['SUV','Hatchback','Sedan']
whn=['Now','Later']
for i in range(101):
    
    file.write('TS '+str(random.randint(1,100))+" "+ random.choice(string.ascii_uppercase) + random.choice(string.ascii_uppercase) +" "+ str(random.randint(1,10))+ str(random.randint(1,10))+ str(random.randint(1,10))+ str(random.randint(1,10))+","+str(random.randint(2,8))+","+str(random.randint(3,8))+","+random.choice(typ)+","+random.choice(whn)+'\n')
    
file.close()

In [54]:
import pandas as pd
df=pd.read_csv("Database.txt")
df

              CarNum  numofseats  numofbags       type   When
0      TS 47 HB 2857           2          3        SUV    Now
1      TS 22 EH 6969           8          5  Hatchback    Now
2      TS 99 ZX 2482           4          3        SUV    Now
3      TS 10 BA 7329           7          6        SUV    Now
4       TS 9 LG 1198           3          5      Sedan  Later
5     TS 18 VE 91081           6          6      Sedan    Now
6     TS 100 FA 1441           4          5  Hatchback  Later
7     TS 53 LO 10775           6          6  Hatchback  Later
8     TS 18 OK 81027           2          8      Sedan    Now
9     TS 76 MC 10711           6          5  Hatchback    Now
10    TS 33 TK 16103           8          4        SUV  Later
11     TS 76 KE 1889           5          8      Sedan    Now
12     TS 44 ON 8334           2          4  Hatchback  Later
13    TS 10 OU 24510           2          8      Sedan  Later
14     TS 31 ZI 7631           3          4      Sedan  Later
15     TS 36 HA 8945           7          8      Sedan  Later
16      TS 6 NV 9841           2          3  Hatchback  Later
17     TS 29 YE 2513           4          7  Hatchback    Now
18     TS 23 NH 6126           4          5  Hatchback    Now
19    TS 76 CM 21062           5          8        SUV    Now
20     TS 59 MC 6638           6          5  Hatchback  Later
21     TS 55 BM 8947           8          5      Sedan    Now
22     TS 45 GK 8647           4          5  Hatchback  Later
23     TS 50 QO 1698           5          8        SUV    Now
24      TS 6 EM 8438           2          4      Sedan    Now
25    TS 84 AH 27108           5          6  Hatchback    Now
26     TS 95 GG 1843           5          7        SUV    Now
27     TS 53 YT 6524           7          3  Hatchback    Now
28     TS 51 HJ 7757           8          5  Hatchback    Now
29    TS 16 BS 17710           3          7        SUV  Later
..               ...         ...        ...        ...    ...
71     TS 60 FO 2466           3          3      Sedan    Now
72     TS 99 HW 3662           8          4  Hatchback  Later
73      TS 6 YN 4477           2          5  Hatchback  Later
74     TS 82 HB 4851           2          7        SUV  Later
75     TS 11 PF 5938           7          4  Hatchback  Later
76     TS 47 YQ 6796           4          6        SUV    Now
77    TS 33 PP 54106           2          4  Hatchback    Now
78     TS 51 YH 4886           5          8        SUV    Now
79     TS 95 GM 4264           7          7      Sedan  Later
80    TS 99 WK 42107           6          4  Hatchback    Now
81     TS 41 DW 7592           7          8  Hatchback  Later
82     TS 62 TO 9154           8          8      Sedan  Later
83     TS 74 WF 6439           6          7  Hatchback    Now
84     TS 89 NH 2565           3          3  Hatchback    Now
85   TS 76 DQ 102103           7          7        SUV    Now
86     TS 65 KJ 5242           5          4      Sedan  Later
87     TS 76 GC 9263           7          7        SUV    Now
88    TS 21 ED 51102           2          3      Sedan    Now
89     TS 72 BW 6587           2          6        SUV  Later
90     TS 56 MN 6692           2          7      Sedan    Now
91    TS 47 GI 62210           8          4        SUV    Now
92     TS 80 RJ 7982           3          6      Sedan    Now
93    TS 96 YJ 62410           7          3      Sedan  Later
94    TS 29 GC 91610           3          3  Hatchback    Now
95     TS 14 JH 1452           2          5  Hatchback    Now
96    TS 52 IP 69410           5          6      Sedan    Now
97     TS 17 TG 3777           6          5      Sedan  Later
98     TS 18 HO 7787           2          8  Hatchback    Now
99     TS 85 QX 6551           3          6  Hatchback    Now
100   TS 10 IN 18710           3          5      Sedan  Later

[101 rows x 5 columns]

In [58]:
x=df.loc[(df['numofseats'] == 6) & (df['numofbags'] == 3 ) &(df['type']=='Sedan')]
x

           CarNum  numofseats  numofbags   type When
55  TS 94 RZ 6951           6          3  Sedan  Now

In [59]:
try:
    print(list(x['CarNum'])[0])
except:
    print("No car")

TS 94 RZ 6951